node_modules
client/node_modules
server/node_modules
package-lock.json
client/package-lock.json
server/package-lock.json
dist
client/dist
server/dist
.tmp
.cache
.git
.gitignore
.idea
.vscode
*.log
npm-debug.log*
storage/
